html {
    font-size: 16px;
}

header {
    background: #000000;
}

.header-container {
    padding: 30px 20px 10px 20px;
}

nav {
    background: #000000;
}


body {

    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    color: #ffffff;
}

#main {
    margin: 0 auto;
}

#mainTable {
    border: 0px;
    margin-left: auto;
    margin-right: auto;
}

th.right-align {
    text-align: right;
}


td.left-align {
    text-align: left;
}


#regiTable {
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}


#regiTable th {
    border: 1px solid;
}

#regiTable td {
    border: 1px solid;
}

ul {
    overflow: hidden;
    list-style: none;
    margin: 0 auto;
    z-index: 20;
}

ul li {
    display: inline-block;
    padding: 26px 10px 20px 10px;
}

a {
    color: #fff;
    text-transform: uppercase;
}

.btn4 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.btn4::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #3367ff;
    display: block;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}

.btn4:hover::before {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
}

.btn2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    border-bottom: 2px solid #3367ff;
}